

.mainTextBody {
  margin-left: 350px;
  margin-top: 350px;

  .mainTextDesc {
    margin-top: 20px;
    width: 670px;
    height: 90px;
    color: #ffffff65;
    font-size: 30px;

    font-family: "Lato", sans-serif;
    font-family: "Noto Sans KR", sans-serif;
    font-family: "Roboto", sans-serif;
  }

  h1,
  h2 {
    color: #b5feef;
    font-family: "Lato", sans-serif;
    font-family: "Noto Sans KR", sans-serif;
    text-shadow: 0px 0px 40px rgba(181, 254, 239, 0.5);
  }
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 65px;
  }
}

.underTextButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;

  margin-top: 80px;

  font-family: "Lato", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;

  .nearButtonText {
    margin-left: 50px;
    color: #ffffff86;

    font-family: "Lato", sans-serif;
    font-family: "Noto Sans KR", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
  }
}

.humanSVG{
    margin-left: 1600px; 
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
       

    .human{
        margin-top: 115px;
        margin-left: 60px;
        position: absolute;
        float: left;
    }
    .elipse{
        margin-top: 115px;
        margin-left: 280px;
        float: right;
        position: absolute;
    }
}
