header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  font-size: 25px;
  margin-top: 20px;

  img{
    margin-left: 350px;
  }

  .headerNavContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: 330px;
  }

  .ovalButtonBorder{
    margin-left: 100px;
  }
}


