.sideNav{

    margin: 0 150px 0 250px;

    border-image-source: linear-gradient(
        to top,
        #2abc9f00,
        #2ABC9E 50%,
        #2abc9f00
      );
      border-right: 5px solid;
      border-image-slice: 1;

}